<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SRMDataMigrationIgnite</title>
    <!-- Essential Modernizr for feature detection (if Ignite UI requires it) -->
    <script src="https://igniteui.com/js/modernizr.min.js"></script>

    <!-- Using 3.6.0 as you originally intended, assuming Ignite UI is fine with it -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Using 1.12.1 as it's the more common CDN you picked and generally stable -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Ignite UI Core and LOB Components -->
    <script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
    <script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.lob.js"></script>

    <!-- Third-party utility for file saving (if needed by your Ignite UI Excel Export) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <!-- Ignite UI Excel Exporting (These must come after core and FileSaver.js) -->
    <script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.excel-bundled.js"></script>
    <script src="https://cdn-na.infragistics.com/igniteui/latest/js/modules/infragistics.gridexcelexporter.js"></script>

    <!-- Data sources (load after libraries, as they might depend on them) -->
    <script src="https://igniteui.com/js-data/nw-products"></script>    

    <!-- Link to jQuery UI CSS (Important for sortable and other UI widgets) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- Link to Ignite UI CSS (If you are using Ignite UI components) -->
    <link rel="stylesheet" href="https://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" />
    <link rel="stylesheet" href="https://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" />
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SRMDataMigrationIgnite</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - SRMDataMigrationIgnite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        .igcombo-checkbox-toggle {
            height: 16px;
            width: 16px;
            display: block; /* Make label a block element to control its width */
            border-bottom: 1px solid #ccc; /* Add a bottom border */
            padding-bottom: 5px; /* Add some spacing below the text */
            margin-bottom: 10px;
        }

        .igcombo-disabled-span {
            opacity: 0.5; 
            cursor: not-allowed; 
            pointer-events: none; 
        }

        input[type="checkbox"], label {
            display: inline-block;
        }

        .exporting-indicator {
            position: absolute;
            background-color: rgba(181, 181, 181, 0.9);
            top: 0;
            left: 0;
            z-index: 100000;
            text-align: center;
            vertical-align: middle;
        }
            .exporting-indicator:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }

        .exporting-text {
            font-size: 46px;
            font-weight: bold;
            vertical-align: middle;
        }

        .btn-Delete {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
        }

            .btn-Delete:hover {
                background-color: #3c8f42;
            }

        .parent-div {
            align-items: center;
            display: flex;
            justify-content: space-between;
            height: 60px;
            gap: 5px;
        }

        .right-div {
            margin-left: auto;
        }

        /* For Dropdowns */
        .parent-wrapper {
            display: inline-block;
        }

        .custom-select-wrapper {
            position: relative;
            width: 280px; /* Or adjust as needed */            
        }

        .custom-select-trigger {
            border: 1px solid #ccc;
            /* border-radius: 5px; */
            padding: 5px 10px;
            background-color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
            outline: none;
            gap: 10px;
        }

            .custom-select-trigger .filter-input-in-trigger {
                flex-grow: 1; /* Allow input to take available space */
                border: none;
                outline: none;
                padding: 5px 0; /* Adjust padding for better visual alignment */
                font-size: 1em;
                cursor: text; /* Indicate it's a text input, not just a click area */
            }

            .custom-select-trigger:hover {
                border-color: #999;
            }

            .custom-select-trigger span {
                flex-grow: 1;
            }

            .custom-select-trigger .arrow {
                margin-left: 0;
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: transform 0.3s ease;
            }

            .custom-select-trigger.active .arrow {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

            .custom-select-trigger .ui-igcombo-button {
                position: absolute;
                bottom: 0;
                right: 0;
                box-sizing: border-box;
                border: 1px solid #bcbcbc !important;
                background-color: #e8e8e8;
            }

            .custom-select-trigger .ui-icon-triangle-1-s {
                position: relative;
            }

            .custom-select-trigger.active .ui-igcombo-button {
                background-color: #a8d6e1;
                border-color: #4897AA;
            }

        .custom-select-dropdown .filter-input {
            display: none;
        }

        .custom-select-dropdown {
            position: absolute;
            width: 100%; /* Match the trigger width */
            border: 1px solid #ccc;
            /* border-radius: 5px;
            padding: 10px; */
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            background-color: #fff;
            z-index: 1000; /* Ensure it appears above other content */
            display: none; /* Hidden by default */
        }

        /* Existing styles adjusted */
        .filter-input {
            width: calc(100% - 22px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .select-all-container {
            margin-bottom: 10px;
            margin-left: 10px;
            margin-top: 10px;
            /* padding-bottom: 5px;
            border-bottom: 1px solid #eee; */
        }

            .select-all-container label {
                font-weight: bold;
            }

        .item-list {
            max-height: 350px;
            overflow-y: auto;
            /* border: 1px solid #eee;
            border-radius: 3px;
            padding: 5px; */
            list-style: none;
            margin: 0;
        }

            .item-list li {
                padding: 8px;
                background-color: #f9f9f9;
                /* margin-bottom: 3px; */
                border: 1px solid #e0e0e0;
                /* border-radius: 3px; */
                cursor: grab;
                display: flex;
                align-items: center;
            }

                .item-list li.ui-sortable-helper {
                    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
                }

                .item-list li:hover {
                    background-color: #e9e9e9;
                }

            .item-list input[type="checkbox"] {
                margin-right: 10px;
            }

        /* #sltIdentification .item-list li:first-child { 
        #sltIdentification .item-list li:nth-child(1),
        #sltIdentification .item-list li:nth-child(2) {
            cursor: default; 
            background-color: #e6e6e6; 
        }

            #sltIdentification .item-list li:nth-child(1):hover,
            #sltIdentification .item-list li:nth-child(2):hover {
                background-color: #e6e6e6; /* Keep same background on hover
                    }*/
        /* For Export-Dropdowns End */


        /* For Export-Grid */
        .ui-iggrid-indicatorcontainer .ui-iggrid-featurechooserbutton {
            display: none !important;
        }

        #page-loader {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 9999;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .spinner {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #3498db;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            animation: spin 1s linear infinite;
            margin: 20px auto;
        }
        
        @@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .loading-text {
            font-size: 18px;
            color: #333;
        }
        /* For Export-Grid Ends */


        /* For Imports */
        #sheetList {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 20px;
        }

        .sheet-btn {
            padding: 8px 14px;
            border: 1px solid #444;
            border-radius: 4px;
            background-color: #f4f4f4;
            cursor: pointer;
            width: 180px;
        }
            .sheet-btn.added {
                background-color: #28a745;
                color: white;
            }

        #sheetTabs {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
            align-items: center;
        }

        .tab {
            position: relative;
            padding: 8px 30px 8px 15px;
            border: 1px solid #444;
            border-bottom: none;
            background-color: #eee;
            border-radius: 5px 5px 0 0;
            margin-right: 5px;
            cursor: pointer;
        }
            .tab.active {
                background-color: #333;
                color: white;
            }

            .tab .close-btn {
                position: absolute;
                right: 6px;
                top: 2px;
                font-weight: bold;
                color: #900;
                cursor: pointer;
            }

        .sheetPreview {
            overflow-x: auto;
        }

        .tabContent {
            display: none;
            border: 1px solid #444;
            border-radius: 0 5px 5px 5px;
            padding: 10px;
        }
            .tabContent.active {
                display: block;
            }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #333;
        }

        th, td {
            padding: 5px;
        }

        tr.selected {
            background-color: #cce5ff;
        }

        .ellipsis-multiline {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines */
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
        }

        .mapping-container {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 15px;
        }

        .unmapped-overview {
            padding: 10px;
        }

        .unmapped-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
            padding: 6px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

        .btn-Save {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
            .btn-Save:hover {
                background-color: #3c8f42;
            }
    



        #sheetTabs {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 2px solid #444;
            margin-bottom: 10px;
        }

        .tab {
            padding: 8px 15px;
            border: 1px solid #444;
            border-bottom: none;
            cursor: pointer;
            margin-right: 5px;
            background-color: #f5f5f5;
            border-radius: 5px 5px 0 0;
            user-select: none;
        }
            .tab.active {
                background-color: #333;
                color: white;
            }

        .tabContent {
            display: none;
            border: 1px solid #444;
            border-radius: 0 5px 5px 5px;
            padding: 10px;
        }
            .tabContent.active {
                display: block;
            }

        #sheetsContainer {
            display: flex;
            flex-wrap: wrap; /* allows wrapping to next line */
            gap: 10px; /* spacing between divs */
            margin-top: 15px;
        }

        .sheet-box {
            padding: 10px 15px;     
            border: 1px solid #333;
            background-color: #f0f0f0;
            cursor: pointer;
            user-select: none;
            border-radius: 4px;
            white-space: nowrap; /* prevent text from breaking */
        }

        .sheet-box {
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #333;
            background-color: #f0f0f0;
            cursor: pointer;
            width: fit-content;
        }
            .sheet-box:hover {
                background-color: #f8f9fa;
                transform: scale(1.05);
                transition: 0.2s;
            }
            .sheet-item.active {
                background-color: #007bff;
                color: white;
            }

        .excelTable {
            border-collapse: collapse; /* makes borders clean and joined */
            width: 50%;
        }
            .excelTable td {
                border: 1px solid black; /* sets a 1px solid black border */
                padding: 8px;
                text-align: left;
            }

            .excelTable tr.selected {
                background: #d1ecf1;
            }

        .mapping-container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 10px;
        }

        .mapping-item {
            display: flex;
            flex-direction: column;
            width: 180px;
            border: 1px solid;
            padding: 6px;
            margin: 5px;
            border-radius: 5px;
        }
            .mapping-item label {
                font-weight: bold;
                margin-bottom: 4px;
            }

        .add-transform-btn {
            width: 50px;
            margin-top: 10px;
            margin-left: auto;
        }

        .db-transform-select {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .borderless-table {
            border: 1px solid black;
            margin-bottom: 10px;
        }

        .borderless-table td,
        .borderless-table th {
            border: none;
        }

        .customValue {
            width: 100%;
            box-sizing: border-box;
        }

        .unmapped-section {
            margin-top: 25px;
            border-top: 2px solid #666;
            padding-top: 10px;
        }

        .unmapped-item {
            margin-bottom: 8px;
        }

        #saveBtn {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
            #saveBtn:hover {
                background-color: #3c8f42;
            }
        /* For Imports Ends */
    </style>
</body>
</html>
